!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/assets/bootstrap/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/css/fonts/ptsans/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/css/fonts/icomoon/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/css/login.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/css/mws-theme.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %title MWS Admin - Login Page
  %body
    #mws-login-wrapper
      = yield
      -#mws-login
        %h1 Login
        .mws-login-lock
          %i.icon-lock
        #mws-login-form
          %form.mws-form{:action => "dashboard.html", :method => "post"}
            .mws-form-row
              .mws-form-item
                %input.mws-login-username.required{:name => "username", :placeholder => "username", :type => "text"}/
            .mws-form-row
              .mws-form-item
                %input.mws-login-password.required{:name => "password", :placeholder => "password", :type => "password"}/
            #mws-login-remember.mws-form-row.mws-inset
              %ul.mws-form-list.inline
                %li
                  %input#remember{:type => "checkbox"}/
                  %label{:for => "remember"} Remember me
            .mws-form-row
              %input.btn.btn-success.mws-login-button{:type => "submit", :value => "Login"}/
    %script{:src => "/assets/js/libs/jquery-1.8.3.min.js"}
    %script{:src => "/assets/js/libs/jquery.placeholder.min.js"}
    %script{:src => "/assets/custom-plugins/fileinput.js"}
    %script{:src => "/assets/jui/js/jquery-ui-effects.min.js"}
    %script{:src => "/assets/plugins/validate/jquery.validate-min.js"}
    %script{:src => "/assets/js/core/login.js"}
